__pycache__/
static/db/history/*.json
!static/db/history/history_template.json
static/audio/output.aiff
static/audio/output.mp3
lib/datasets/yuna/
lib/models/
static/img/call/*
!static/img/call/image_template.jpg
static/img/art/*
!static/img/art/art_template.png