__pycache__/
lib/utils/tests/*
db/history/*
!db/history/README.md
static/audio/output.aiff
static/audio/output.mp3
static/text/*
!static/text/README.md
static/img/call/*
!static/img/call/image_template.jpg
static/img/art/*
!static/img/art/art_template.png
static/audio/*
!static/audio/README.md
!static/audio/sfx/*
lib/models/*
!lib/models/agi/README.md
!lib/models/agi/audio/README.md
!lib/models/agi/miru/README.md
!lib/models/agi/uta/README.md
!lib/models/agi/voice/README.md
!lib/models/yuna/README.md
llama.log
.DS_Store