__pycache__/
!static/audio/README.md
!static/audio/audiobooks/README.md
!static/audio/sfx/*
!static/text/README.md
!static/img/call/README.md
!lib/models/agi/README.md
!lib/models/agi/audio/README.md
!lib/models/agi/voice/README.md
!lib/models/yuna/README.md
!lib/tests/README.md
!db/history/README.md
lib/tests/*
db/history/*
static/audio/output.aiff
static/audio/output.mp3
static/text/*
static/img/call/*
static/audio/*
lib/models/*
llama.log
.DS_Store