flask
flask_cors
flask_login
openai-whisper
pydub
transformers
diffusers
html2text
bs4
itsdangerous
cryptography
pytermgui
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
Flask-Compress
webbrowser