flask
flask_cors
flask_login
openai-whisper
pydub
ctransformers
transformers
diffusers
html2text
bs4
itsdangerous
cryptography
--extra-index-url https://download.pytorch.org/whl/rocm5.6
torch
torchvision
torchaudio