flask
flask_cors
flask_login
openai-whisper
pydub
transformers
llama-cpp-python
diffusers
itsdangerous
cryptography
Flask-Compress
einops
timm
Pillow
trafilatura
accelerate
langchain_huggingface
langchain-community
soundfile
speechbrain
librosa
datasets