/*
    COPYRIGHT BY YUKI ARIMO
    KAWAI FRAMEWORK
*/

.topbar-o {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    border-bottom: 1px solid rgb(229, 229, 229);
    background-color: #f8f8f8;
}

.bottombar-o {
    display: flex;
    position: fixed;
    text-decoration: none;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin-bottom: 0;
    padding: 0%;
    flex-direction: column;
    background-color: #212529;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.block-bottom-tabs {
    width: 100%;
    justify-content: space-around;
    display: flex;
    background: #212529;
    padding: 1%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.block-bottom-tabs-e {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1%;
    border-radius: 6px;
    justify-content: space-around;
    background-color: #343a40;
}

.sidebar-o {
    width: 15%;
    float: left;
    background: rgb(231, 233, 233);
    height: 100%;
    min-height: 10vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.block-o {
    background: none;
}

.tab-o {
    flex-direction: column;
}

.coll-lo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    width: auto;
    height: auto;
}

.block-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    background: white;
    border: 1px solid #DDE1E5;
    padding: 1%;
    border-radius: 6px;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.block-form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    border: 1px solid #DDE1E5;
    padding: 1%;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.block-input {
    display: flex;
    width: auto;
    border-radius: 6px;
    border: 1px solid #d6d6d8;
    padding: 1%;
    margin-bottom: 2%;
}

.block-form>.block-button {
    width: fit-content;
}

.block-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #007aff;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.block-button:hover {
    background-color: #0056b3;
    border: 1px solid #007aff;
}

.block-button:hover::before {
    transform: scale(1.1);
}

.block-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, transform 0.2s ease;
}

.block-button:active::before {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%) scale(0);
}

.block-list {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.block-list>.block-list-e {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #DDE1E5;
    color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.block-list>.block-list-e:last-child {
    border-bottom: none;
}

.block-list>.block-list-e:hover {
    background-color: #e0e0e0;
}

.block-list>.block-list-e:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.block-list>.block-list-e:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.block-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    overflow: scroll;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Set a max height for scrolling */
}

/* Add custom scroll styling */
.block-scroll::-webkit-scrollbar {
    width: 8px;
}

.block-scroll::-webkit-scrollbar-thumb {
    background-color: #007aff;
    border-radius: 6px;
}

.block-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

.block-text {
    display: flex;
    text-decoration: none;
    color: black;
    width: auto;
    font-size: 14px;
    height: auto;
    font-family: kawai-font;
    padding: 1%;
    line-height: 1.5;
    align-content: stretch;
}

.block-toggle {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.block-toggle::before {
    content: "";
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.block-toggle.active {
    background-color: #4cd964;
}

.block-toggle.active::before {
    transform: translateX(30px);
}

.block-button-close-e {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.block-popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f8f8f8;
    border-radius: 12px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal-header {
    display: flex;
    justify-content: center;
    padding: 2%;
    border-bottom: 2px solid #dee2e6;
}

.modal-body {
    padding: 2%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    border-top: 2px solid #dee2e6;
}

.block-popup>.div {
    text-align: center;
}

.top-tab-block>.top-tab-block-e:hover {
    background-color: #cfd2d1;
    padding: 2%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.topbar-o>.block-text {
    line-height: normal;
}

.top-tab-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    width: fit-content;
}

.top-tab-block-e {
    display: flex;
    margin-right: 5%;
    padding: 2%;
}

.toggle-menu-block {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 21px;
}

.toggle-menu-block .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
}

.center {
    text-align: center;
}

.tab-o {
    display: none;
}

.side-tab-block {
    width: 80%;
    margin-top: 2%;
}

.side-tab-block-e {
    justify-content: center;
    display: flex;
    background: #cfd2d1;
    border-radius: 12px;
    padding: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.uside {
    width: 85%;
    float: right;
}

.tab-o-default {
    display: flex;
}

.block-button-close {
    padding: 2%;
    color: white;
    background: red;
    width: fit-content;
    font-size: 20px;
    height: fit-content;
    border-radius: 6px;
    position: absolute;
    right: 0;
}

.block-o {
    background: none;
}

.tab-o {
    flex-direction: column;
}

.block-form>.block-button {
    width: fit-content;
}

.block-list>.block-list-e:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.block-list>.block-list-e:last-child {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.la {
    font-size: 32px !important;
}

.lb {
    font-size: 24px !important;
}

.lc {
    font-size: 18px !important;
}

.ld {
    font-size: 14px !important;
}

.block-popup>.div {
    text-align: center;
}

.row-line {
    display: flex;
    flex-direction: row !important;
}

.container {
    display: flex;
}

.txt-1 {
    text-align: left;
}

.txt-2 {
    text-align: center;
}

.txt-3 {
    text-align: right;
}

.el-0 {
    width: 95%;
}

.el-9 {
    width: 90%;
}

.el-8 {
    width: 80%;
}

.el-7 {
    width: 70%;
}

.el-6 {
    width: 60%;
}

.el-5 {
    width: 50%;
}

.el-4 {
    width: 40%;
}

.el-3 {
    width: 30%;
}

.el-2 {
    width: 20%;
}

.el-1 {
    width: 10%;
}

.mudiny {
    background: #7466F9;
}

.craily {
    background: #BD5B49;
}

.rosely {
    background: #F7B6A0;
}

.oxely {
    background: #74A08F;
}

.finy {
    background: #662C5C;
}

.selty {
    background: #F8F9FA;
}

.darkly {
    background: #212529;
}

.lovely-blue {
    background: rgb(53, 120, 246);
}

.selected {
    background: rgb(53, 120, 246);
    color: white;
}

.mobile-only {
    display: none;
}

.cancel {
    background: rgb(237, 241, 247);
    color: black;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.v-coll {
    flex-direction: column;
}

.h-coll {
    flex-direction: row;
}

.showside {
    display: flex !important;
}

@media (max-width : 428px) {
    .sidebar-o {
        width: 100%;
    }

    .coll-lo > div, form {
        margin-top: 2%
    }
    
    .coll-lo > div:first-child {
        margin-top: 0%
    }

    .mobile-only {
        display: flex;
    }

    .uside {
        width: 100%;
        float: none;
        margin-top: 0%;
    }

    .desktop-only {
        display: none;
    }

    .topbar-o {
        margin-bottom: 1%;
        padding: 2% 4%;
        width: 92%;
    }

    .bottombar-o {
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 4%;
    }

    .block-bottom-tabs {
        padding: 2%;
        font-size: 16px;
    }

    .block-bottom-tabs-e {
        padding: 2%;
    }

    .sidebar-o {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .coll-lo {
        flex-direction: column;
    }

    .block-card {
        width: 95%;
        padding: 2%;
    }

    .block-form,
    .block-input {
        width: 90%;
        padding: 2%;
    }

    .block-form>.block-button,
    .block-button {
        width: fit-content;
        padding: 2% 4%;
        font-size: 16px;
    }

    .block-list {
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .block-list>.block-list-e {
        padding: 10px;
    }

    .block-scroll {
        height: auto;
        max-height: 300px;
        padding: 2%;
    }

    .block-toggle {
        width: 40px;
        height: 20px;
    }

    .block-toggle::before {
        width: 16px;
        height: 16px;
        top: 2px;
        left: 2px;
    }

    .block-button-close-e {
        width: 40px;
        height: 40px;
    }

    .modal-content {
        width: 90%;
        padding: 2%;
    }

    .modal-header,
    .modal-body,
    .modal-footer {
        padding: 2%;
    }

    .top-tab-block {
        padding: 2%;
    }

    .top-tab-block-e {
        padding: 2%;
    }

    .toggle-menu-block {
        top: 0.5rem;
        right: 0.5rem;
        width: 20px;
        height: 14px;
    }

    .toggle-menu-block .bar {
        height: 2px;
        width: 100%;
        border-radius: 2px;
    }
}


img {
    border-radius: 6px;
    width: 20%;
}

div {
    font-family: kawai-font;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "kawai-font";
    src: url("../fonts/kawai-font.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: flex;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: kawai-font;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: kawai-font;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: kawai-font;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

details {
    display: flex;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*
    COPYRIGHT BY YUKI ARIMO
    KAWAI FRAMEWORK
*/