<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="description" content="Yuna AI - a virtual girlfriend">
    <meta name="keywords" content="Yuki Arimo, Yuna, Yuna AI, GPT">
    <meta name="author" content="Yuki Arimo">
    <meta name="robots" content="index, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar" content="#99c189">
    <meta name="theme-color" content="#99c189" />

    <title>Yuna</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='/css/index.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='/css/kawai.css') }}">
    <link
        href="{{ url_for('static', filename='/fonts/kawai-font.otf') }}"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='manifest.json') }}"
        rel="manifest">
    <script src="{{ url_for('static', filename='/js/index.js') }}"
        defer></script>
    <script src="{{ url_for('static', filename='/js/kawai.js') }}"
        defer></script>
</head>

<body>
    <div class="sidebar-o" id="sidebar">
        <div class="coll-lo h-coll" style="background: none;">
            <img src="/static/img/yuna.png" alt="Yuna" class="block-image">
            <div class="block-text">Yuna</div>
        </div>

        <div class="side-tab-block">x
            <div class="side-tab-block-e" id="toggleButtonSide">Side</div>
            <div class="side-tab-block-e" onclick="OpenTab('1')">Chat</div>
            <div class="side-tab-block-e" onclick="OpenTab('2')">Call</div>
            <div class="side-tab-block-e" onclick="OpenTab('3')">Settings</div>
        </div>
    </div>

    <div class="block-o center">
        <div class="tab-o tab-o-default" id="1">

            <div class="topbar-o">
                <div class="block-button" id="toggleButtonSide" onclick="openSidebar();">Side</div>
                <div class="top-tab-block">
                    <div class="top-tab-block-e block-text lc">
                        <img src="/static/img/yuna.png" alt="Yuna" class="block-image">
                        <h1 class="la block-text">Yuna</h1>
                    </div>
                </div>
                <div class="la block-text">Contact</div>
            </div>

            <div class="coll-lo v-coll">
                <div class="block-l el-8">
                    <h1>Chat</h1>
                    <div class="block-scroll" id="message-container">
                        <!-- Messages will be displayed here -->
                    </div>
                </div>

                <form class="block-form el-8" onsubmit="handleSubmit(event)">
                    <textarea id="input_text" placeholder="Enter your message"></textarea>
                    <div>
                        <button type="submit" class="block-button">Send</button>
                        <button type="button" class="block-button" onclick="clearHistory()">Clear History</button>
                        <button type="button" class="block-button" onclick="loadHistory()">Load History</button>
                        <button type="button" class="block-button" onclick="downloadHistory()">Download History</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="tab-o" id="2">
            <div class="topbar-o">
                <div class="block-button" id="toggleButtonSide" onclick="openSidebar();">Side</div>
                <div class="top-tab-block">
                    <div class="top-tab-block-e block-text lc">
                        <img src="/static/img/yuna.png" alt="Yuna" class="block-image">
                        <h1 class="la block-text">Yuna</h1>
                    </div>
                </div>
                <button class="block-button" id="startButton">Start Recognition</button>
            </div>

            <div class="coll-lo v-coll">
                <div class="block-text la">Call</div>

                    <div class="remote-participant block-l">
                        <img src="/static/img/yuna-full.png" style="border-radius: 20px;" alt="Yuna Participant">
                        <p>Yuna</p>
                    </div>
                    <div class="local-participant block-l">
                        <video id="localVideo" style="border-radius: 20px;" playsinline autoplay muted></video>
                        <p>You</p>
                    </div>
            </div>
        </div>

        <div class="tab-o" id="3">
            <div class="topbar-o">
                <div class="block-button" id="toggleButtonSide" onclick="openSidebar();">Side</div>
                <div class="top-tab-block">
                    <div class="top-tab-block-e block-text lc">
                        <img src="/static/img/yuna.png" alt="Yuna" class="block-image">
                        <h1 class="la block-text">Yuna</h1>
                    </div>
                </div>
                <div class="la block-text">Contact</div>
            </div>

            <div class="coll-lo v-coll">
                <div class="block-l el-8">
                    <h1>Settings</h1>
                    <div class="block-l">
                        <div class="toggle-switch-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inside head tag -->
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/js/sw.js')
                .then((registration) => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch((error) => {
                    console.error('Service Worker registration failed:', error);
                });
        }
    </script>
</body>

</html>